.times {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.timescontent {
  display: inline-block;
  margin: 0 auto;
  width: 210px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 50%;
}

.timerlabel {
  font-size: 80%;
  font-weight: 600;
}

.timerlabel2 {
  font-size: 120%;
  font-weight: 800;
}

.timeleft {
  font-size: 3rem;
  font-weight: 800;
}