.paragraphTitle {
    margin-right: 5%;
    min-height: 30px;
    text-align: center;
    color: black;
    margin: 1.75rem 0 0.875rem;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    width: 100%;
}

.imageAndText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.sideImageText {
    width: 47%;
}

.sideImage {
    width: 47%;
}

.centeredImage {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .sideImageText {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .sideImageText {
        padding-right: 50px;
    }

}