.titleFutureTalks h1{
    margin-bottom: 10%;
    margin-right: 5%;
    min-height: 30px;
    text-align: center;
    color: #3C4858 !important;
    margin: 1.75rem 0 0.875rem;
    font-weight: bold !important;
    font-family: "Times New Roman", serif !important;
    width:100%;
}

.talks{
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width: 500px){
    .titleFutureTalks h1{
        font-size: 1.5em;
    }
}